@import url('https://fonts.googleapis.com/css?family=Montserrat');

.head {
	display: table;
	width: 100%;
    background: rgba(0,0,0,.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.logo {
	display: table-cell;
	width: 1%;
	padding: 20px;
	vertical-align: middle;
}
.logo-inner {
	width: 50px;
	height: 50px;
	/* background: rgb(255, 255, 255); */
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    cursor: default;
    font-family: Georgia, serif;
    font-style: italic;
}
.menu {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.menu-inner {
	padding: 0;
	margin: 0 20px;
	list-style: none;
	font-size: 0;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    vertical-align: middle;
}
.menu-item {
	display: inline-block;
	font-size: 0.9rem;
  	font-family: 'Montserrat', sans-serif;
}

.menu-link {
	display: block;
	padding: 15px 25px;
	/* background: rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.menu-link:hover {
    color: #e4d218;
}

.logo-comic {
	width:70px;
}
