<div class="head">
    <div class="logo">
      <div class="logo-inner"><img class="logo-comic" src="assets/img/comic_pow.png" alt="Comic Pow - Netflix dos Quadrinhos"></div>
    </div>
    <div class="menu">
          <ul class="menu-inner">
              <li class="menu-item">
                  <a class="menu-link" href="#home">Lista de HQs</a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="#home">Informações</a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="cadastrar">Cadastre-se</a>
              </li>
          </ul>
      </div>
  </div>
<div class="cadastro-form" style="
width: 100vw;
height: 100vh;
">
  <div class="cadastro-container">
      <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-6 col-md-auto">
                <input type="text" class="form-control" formControlName="nome" 
                id="nome" placeholder="Nome">
                <app-campo-control-erro 
                  [mostrarErro]="verificaValidTouched('nome')" 
                  msgErro="Nome é obrigatório.">
                </app-campo-control-erro>
            </div>
          </div>
        </div>
  </div>
</div>













<!-- <div class="head">
    <div class="logo">
      <div class="logo-inner"><img class="logo-comic" src="assets/img/comic_pow.png" alt="Comic Pow - Netflix dos Quadrinhos"></div>
    </div>
    <div class="menu">
          <ul class="menu-inner">
              <li class="menu-item">
                  <a class="menu-link" href="home">Voltar</a>
              </li>
          </ul>
      </div>
  </div>


<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="form-group" [ngClass]="aplicaCssErro('nome')">

    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="nome" 
        id="nome" placeholder="Nome">
        <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched('nome')" 
          msgErro="Nome é obrigatório.">
        </app-campo-control-erro>
    </div>

    

  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('email')">

    <div class="col-sm-12">
      <label for="email" class="control-label">E-mail</label>
    </div>

    <div class="col-sm-12">
      <input type="email" class="form-control" formControlName="email"
        id="email" placeholder="nome@email.com" >
        <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched('email')" 
          msgErro="Email é obrigatório.">
        </app-campo-control-erro>  
        <app-campo-control-erro 
          [mostrarErro]="verificaEmailInvalido()" 
          msgErro="Email é invalido.">
        </app-campo-control-erro> 
    </div>

  </div>  

  <button type="submit" class="btn btn-primary">Submit</button>

  <button type="submit" class="btn btn-primary" (click)="mostrar()">Mostrar</button> -->

  <!--div>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let item of comicArray;let i = index">
            <td>{{item?.nome}}</td>
            <td>{{item?.email}}</td>
          </tr>
        </tbody>
      </table>
    </div-->

  <!--app-form-debug [form]="formulario"></app-form-debug-->

<!-- </form> -->