<div class="head">
  <div class="logo">
      <div class="logo-inner"><img class="logo-comic" src="assets/img/comic_pow.png" alt="Comic Pow - Netflix dos Quadrinhos"></div>
  </div>
  <div class="menu">
      <ul class="menu-inner">
          <li class="menu-item">
              <a class="menu-link" href="listar">Lista de HQs</a>
          </li>
          <li class="menu-item">
              <a class="menu-link" href="#home">Informações</a>
          </li>
          <li class="menu-item">
              <a class="menu-link" href="cadastrar">Cadastre-se</a>
          </li>
      </ul>
  </div>
</div>

<p>TA FUFNANDO</p>